nav
{
  width: 100%;
  height: 50px;
  background-color: rgb(98, 53, 210);
  padding: 12px 150px;
  display: flex;
  justify-content: space-between;
}
nav p
{
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: white;
}
/* ------------------------------- */
header
{
    padding: 10PX 180px;
    width: 100%;
}
.back
{
    width: 70px;
    display: flex;
    background-color: rgb(155, 153, 153);
    align-items: center;
    gap: 5px;
    border-radius: 3px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.main
{
    width: 100%;
    background-color: rgb(249, 242, 242);
    padding: 10px;
    margin-top: 10px;
  box-shadow: -5px -5px 5Px rgba(128, 128, 128, 0.256);
}
.top
{
    width: 100%;
    height: 100px;
    display: flex;
   align-items: center;
    justify-content: space-between;
    
}
.main p{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 30px;
}
.top img
{
    width: 120px;
    height: 75px;
   box-shadow: 5px 5px 5px rgba(105, 95, 95, 0.36);
}
.centre 
{
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 10px;
}
.centre p
{
    font-size: 18px;
    font-weight: 600;
}
.centre span
{
    font-family: sans-serif;
    color: rgb(57, 56, 56);
}
.maps 
{
color: blue;
margin-left: 6px;
}
.logo
{
    width: 100%;
    height: 170px;
  box-shadow: -5px 5px 5px rgba(128, 128, 128, 0.353);

}
.logo img {
 width: 150px;
 height: 150px;
 margin: 0 auto;
 display: block;
}
.p
{
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bo
{
    display: flex;
    gap: 10px;
}
.border
{
    width: 80px;
    height: 28px;
    display: flex;
    gap: 6px;
    background-color: rgb(213, 208, 208);
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    text-decoration: none;
}
.border img
{
    width: 38%;
    height: 80%;
    border-radius: 3px;
}
.border p 
{
    font-family: sans-serif;
    color: black;
}